@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Jaini+Purva&family=Rubik+Burned&family=Splash&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #351431;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #351431;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock::before {
    content: "";
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#A06B9A, #51D6FF);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 45px;
    color: #51D6FF;
    font-family: "Fascinate Inline", system-ui;
}

.number b{
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #231021;
    border-radius: 50%;
}

.hour-hand, .minute-hand, .second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) *  1deg));
    transform-origin: bottom;
}

.hour-hand {
    width: 12px;
    height: 130px;
    border-radius: 5px;
    background-color: #231021;
}

.minute-hand {
    width: 8px;
    height: 190px;
    border-radius: 5px;
    background-color: #F0544F;
}

.second-hand {
    width: 4px;
    height: 210px;
    border-radius: 5px;
    background-color: #51D6FF;
}